<h1>Hola</h1>

<div class="container">
  <div class="text-center">
    <input type="date" name="fecha" value="{{ date }}" (change)="onDateChange($event)">
  </div>

  <table class="table">
    <tr>
      <th>Descripción</th>
      <th colspan="2">Comensales</th>
      <!-- <th>Max</th> -->
      <!-- <th>Min</th> -->
      <th>Reservar</th>
    </tr>
    <tr *ngFor="let table of tables">
      <td>{{table.description}}</td>
      <td>{{table.max_people}}</td>
      <td>{{table.min_people}}</td>
      <td>
        <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#modal"
          (click)="completeDialog(table)">
          Reserva
        </button>
      </td>
    </tr>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Reserva</h5>
        <button #close type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form id="form" #reservaForm="ngForm" (ngSubmit)="onSubmit(reservaForm, close)">
          <div class="mb-3">
            <label for="username" class="form-label">Nombre:</label>
            <input type="text" class="form-control" name="username" placeholder="Nombre para la reserva" ngModel
              #username="ngModel">
          </div>
          <div class="mb-3">
            <label for="people" class="form-label">Comensales:</label>
            <input *ngIf="table" class="form-control" type="number" name="people" max="{{ table.max_people }}"
              min="{{ table.min_people }}" value="{{ table.min_people }}" ngModel #people="ngModel">
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button form="form" type="submit" class="btn btn-primary">Enviar</button>
      </div>
    </div>
  </div>
</div>
